*.img
log
*.log
cscope.*
*~
obj
obj/*
*.DS_Store
misc/qemu
misc/qemu/*
misc/iso
misc/iso/*
sys/sys/user_procs.h
certikos.vmdk

error.cerr
.cproject
.project
.pydevproject
.rexxdevproject
.settings
/build
guest/hypercall.h

